.articles {
  background-color: #fff6fb;
  padding: 90px 0;
  @media (max-width: 767.98px) { 
    padding: 30px 0;
  }
  h2 {
    text-transform: capitalize;
    font-weight: bold;
    @media (max-width: 767.98px) { 
      margin-bottom: 30px;
    }
  }
}
