<div class="container-fluid">
  <nav
    class="container nav d-flex align-items-center justify-content-between gap-5"
  >
    <img src="../../../../assets/images/logo.svg" alt="" />
    <div class="d-flex align-items-center">
      <ul class="nav-items d-flex gap-3 align-items-center">
        <li>home</li>
        <li>company</li>
        <li>about</li>
        <li>pricing</li>
        <li>team</li>
        <li>contact</li>
        <li>blog</li>
      </ul>
    </div>
    <button class="nav-button ml-auto">trade now</button>
  </nav>
  <header
    class="header container d-flex align-items-center justify-content-between gap-5"
  >
    <div class="d-flex flex-column gap-1">
      <h1>Make better businees with Cryptocurrency</h1>
      <p>
        We offers users a fully operational long-term rental platform. It plans
        to leverages blockchain technology.
      </p>
    </div>
    <img src="../../../../assets/images/heroimage.svg" alt="" />
  </header>
</div>
