.info-box,.sub-feature  {
  @media (max-width: 767.98px) { 
    align-items: center;
    justify-content: center;
    span {
      text-align: center;
    }
   }
}

h4 {
  font-weight: bold;
}

img {
  width: 70px;
  height: 70px;
}

.article {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    h4 {
      font-size: 19px;
      padding: 0 10px;  
      margin: 0;
      @media (max-width: 767.98px) { 
        font-size: 16px;
       }
    }
    div {
        padding: 0 10px;
    }
    span {
        font-size: 12px;
    }
  img {
    width: 100% !important;
    min-height: 240px !important;
    object-fit: cover;
    @media (max-width: 767.98px) { 
      min-height: 170px !important; 
    }
  }
}
