<footer class="container-fluid">
<div class="container d-flex gap-1 justify-content-between navigation">
    <ul class="d-flex flex-column gap-3">
        <li class="nav-head">company</li>
        <li class="nav-item">ABOUT US</li>
        <li class="nav-item">Terms of use</li>
        <li class="nav-item">Privacy Policy</li>
        <li class="nav-item">Disclaimer</li>
    </ul>
    <ul class="d-flex flex-column gap-3">
        <li class="nav-head">Businesses</li>
        <li class="nav-item">Prime</li>
        <li class="nav-item">Custody    </li>
        <li class="nav-item">Asset Hub</li>
        <li class="nav-item">Commerce</li>
    </ul>
    <ul class="d-flex flex-column gap-3">
        <li class="nav-head">Blockchain </li>
        <li class="nav-item">Chain Explorer</li>
        <li class="nav-item">The Syndicate</li>
        <li class="nav-item">Security</li>
        <li class="nav-item">Cryptous Credit</li>
    </ul>
    <ul class="d-flex flex-column gap-3">
        <li class="nav-head">Exchange</li>
        <li class="nav-item">Exchange Home</li>
        <li class="nav-item">Margin Trading</li>
        <li class="nav-item">Margin Trading</li>
        <li class="nav-item">Trading Arena</li>
    </ul>
    <ul class="d-flex flex-column gap-3">
        <li class="nav-head">Resources</li>
        <li class="nav-item">Prices</li>
        <li class="nav-item">Prices</li>
        <li class="nav-item">tax</li>
        <li class="nav-item">blog</li>
    </ul>
</div>
<div class="container p-0 d-flex">
    <span class="copyright">Copyright &copy; {{year}} Cryptous</span>
</div>
</footer>