<div class="newsletter container-fluid">
  <div class="newsletter-inner container d-flex flex-column gap-md-4 gap-2 justify-content-center align-items-center">
    <h2 class="text-center m-0">Never miss a drop</h2>
    <p class="text-center m-0">Subscribe for the latest news, drops & collectibles</p>
    <form (ngSubmit)="subscribe()">
        <input type="email" name="email" placeholder="Enter your email" [(ngModel)]="email">
        <button type="submit">Subscribe</button>
    </form>
  </div>
</div>
