.download {
  h2,
  p {
    color: white;
    margin: 0;
  }
  p {
    width: 70%;
    padding: 0;
    margin: 0;
    @media (max-width: 767.98px) { 
      width: 100%;
     }
  }

  &-app {
    &-inner {
      background-color: #d7c2ff;
      display: flex;
      padding: 1rem;

      div {
        text-transform: capitalize;
      }
      span.apple-google {
        text-transform: uppercase;
        font-weight: bold;
      }
      .app-img {
        object-fit: cover;
        width: 40px;
        @media (max-width: 767.98px) { 
          object-fit: contain;
        width: 30px;
         }
      }
    }
  }
}

.main-app-img {
  @media (max-width: 767.98px) { 
    width: 60%;
    margin: 10px auto;
   }
}